<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-5 fw-bold">GreatBoard</h1>
        <p class="col-md-8 fs-4">A great place to share ideas.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag "nyan.gif", :size => '260x180', class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Contribute</h2>
      <%= turbo_frame_tag dom_id(@post) do %>
        <%= render "posts/form", post: @post %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Latest Posts</h2>
      <%= turbo_stream_from "posts" %>
      <%= turbo_frame_tag "posts" do %>
        <%= render @posts.last(3) %>
      <% end %>
    </div>
  </div>
</div>