<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= turbo_stream_from "posts" %>
<%= turbo_frame_tag "posts" do %>
  <%= render @posts %> 
<% end %>

<%= link_to "New post", new_post_path %>
