<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |msg_type, message| %>
      <div class="alert <%= bootstrap_class_for(msg_type) %>">
        <div class="container">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <%= message %>
        </div>
      </div>
    <% end %>
    <div class="container py-4">
      <%= yield %>
    </div>
  </body>
</html>
